<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
        <link rel="stylesheet" href="/style.css">
    </title>
</head>

<body>
    <h1>Welcome to the Inventory Manager</h1>
    <p>Select a category to begin:</p>
    <a href="/categories">View All Categories</a>
</body>

</html>